* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  background: #ff385c;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-form input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-right: 0.5rem;
}

.search-form button {
  padding: 0.75rem 1.5rem;
  background-color: #ff385c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #e5324b;
}

.image-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  align-items: center;
  object-fit: cover;
}

.image-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
header button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #cc2565;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header button:hover {
  background-color: #005bb5;
}

.image-card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  position: relative;
}

.image-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-grow: 1;
}

.image-card .card-info {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
footer {
  background-color: #bd081c;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: center;
  }

  .search-form input {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: calc(100% - 2rem);
    max-width: 100%;
  }
}
